---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/layout.astro";
import Card from "@/components/card.astro";
import FormattedDate from "@/components/formatted-date.astro";
import ContentNavigator from "@/components/content-navigator.astro";

export async function getStaticPaths() {
  // Ascending order (oldest to newest), for the content navigation component
  const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

  return posts.map((post, index) => ({
    params: { post: post.id },
    props: { post, index, posts },
  }));
}

const { post, index, posts } = Astro.props;
const { title, summary, pubDate, updatedDate } = post.data;

const { Content } = await render(post);
---

<Layout title={title + " | Edward Vonschondorf"} description={summary}>
  <article class="relative z-2 container mx-auto my-auto max-w-3xl space-y-1.5 px-1.5 lg:space-y-3 lg:px-3 xl:px-0">
    <Card>
      <!-- BLOG HEADER -->
      <div class="mb-12 space-y-1">
        <h1 class="text-xl font-bold text-stone-100">{title}</h1>
        <div class="flex justify-between font-mono text-stone-500">
          <span>
            Published: <FormattedDate date={pubDate} />
          </span>
          {
            updatedDate && (
              <span>
                Updated: <FormattedDate date={updatedDate} />
              </span>
            )
          }
        </div>
        <p class="text-stone-300">{summary}</p>
      </div>
      <!-- BLOG CONTENT -->
      <div class="prose">
        <Content />
      </div>
    </Card>
  </article>
  <ContentNavigator items={posts} currentIndex={index} basePath="blog" contentType="Posts" />
</Layout>
