---
import Layout from "../../layouts/blog-layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_INTRO } from "../../global-consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/formatted-date.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pagePathname = Astro.url.pathname;
---

<Layout
  title={"Blog | " + SITE_TITLE}
  description={SITE_DESCRIPTION}
  pathname={pagePathname}
>
  <p class="mb-12 text-sm">{SITE_INTRO}</p>
  <ul class="space-y-2">
    {
      posts.map((post) => (
        <li class="flex items-baseline gap-4">
          <span class="text-muted block min-w-20 flex-shrink-0 text-xs uppercase">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a
            href={`/blog/${post.id}/`}
            class="transition-color hover:text-accent block flex-grow duration-300 ease-in-out"
          >
            <span class="font-medium text-pretty">{post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
