---
import Layout from "../../layouts/layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
  const games = await getCollection("arcade");
  return games.map((game) => ({
    params: { game: game.id },
    props: game,
  }));
}

type Props = CollectionEntry<"arcade">;

const game = Astro.props;

const { title, description, how_to_play, images, play_url, repo_url, pubDate } =
  game.data;

const { Content } = await render(game);
---

<Layout>
  <article class="relative z-2 container mx-auto max-w-7xl text-white">
    <h1>{title}</h1>
    <span>{pubDate}</span>
    <p>{description}</p>
    <p>{how_to_play}</p>
    <a href={play_url}>Play</a>
    <a href={repo_url}>Repository</a>
    <Content />
  </article>
</Layout>
