---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "@/layouts/layout.astro";

import SiteHeader from "@/components/site-header.astro";

import ActionButton from "@/components/action-button.astro";

export async function getStaticPaths() {
  const games = await getCollection("arcade");
  return games.map((game) => ({
    params: { game: game.id },
    props: game,
  }));
}

type Props = CollectionEntry<"arcade">;

const game = Astro.props;

const { title, description, how_to_play, images, play_url, repo_url } = game.data;
---

<Layout title={title + " | Edward Vonschondorf"} description={description}>
  <SiteHeader />
  <article
    class="relative z-2 container mx-auto max-w-3xl space-y-6 rounded-xl border border-stone-700 bg-stone-700/30 p-6 backdrop-blur-[2px] lg:rounded-3xl">
    <h1 class="text-xl font-bold text-stone-100">{title}</h1>
    <span class="block h-64 w-full bg-stone-500"></span>
    <div class="flex gap-6">
      <div class="w-3/4 space-y-3">
        <p class="font-medium text-stone-300">{description}</p>
        <h2 class="font-bold text-stone-100">How To Play</h2>
        <p class="font-medium text-stone-300">{how_to_play}</p>
      </div>
      <div class="w-1/4 space-y-3">
        <ActionButton href={play_url}> Play </ActionButton>
        <a href={repo_url} target="_blank" rel="noopener noreferrer" class="block text-center text-stone-300">
          Repository
        </a>
      </div>
    </div>
  </article>
  <section class="relative z-2 container mx-auto flex max-w-3xl items-center justify-between px-3 py-12">
    <a href="/arcade/" class="block text-stone-300">&lt; Back</a>
    <a href="/" class="block text-stone-300">Issues?</a>
  </section>
</Layout>
