---
import Layout from "@/layouts/layout.astro";

import ActionButton from "@/components/action-button.astro";

import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const games = await getCollection("arcade");
  return games.map((game) => ({
    params: { game: game.id },
    props: game,
  }));
}

type Props = CollectionEntry<"arcade">;

const game = Astro.props;

const { title, description, how_to_play, images, play_url, repo_url } =
  game.data;
---

<Layout title={title + " | Edward Vonschondorf"} description={description}>
  <article
    class="relative z-2 container mx-auto max-w-5xl space-y-6 rounded-xl border border-stone-700 bg-stone-700/30 p-6 backdrop-blur-xs lg:rounded-3xl"
  >
    <h1 class="text-xl font-bold text-stone-100">{title}</h1>
    <span class="block h-64 w-full bg-stone-500"></span>
    <div class="flex gap-6">
      <div class="w-3/4 space-y-3">
        <p class="font-medium text-stone-300">{description}</p>
        <h2 class="font-bold text-stone-100">How To Play</h2>
        <p class="font-medium text-stone-300">{how_to_play}</p>
      </div>
      <div class="w-1/4 space-y-3">
        <ActionButton>
          <a href={play_url}>Play</a>
        </ActionButton>
        <a
          href={repo_url}
          target="_blank"
          rel="noopener noreferrer"
          class="block text-center text-stone-300">Repository</a
        >
      </div>
    </div>
  </article>
</Layout>
