---
import { getCollection, getEntry } from "astro:content";
import Layout from "@/layouts/layout.astro";
import PageHeader from "@/components/page-header.astro";
import Card from "@/components/card.astro";
import Banner from "@/components/banner.astro";

const games = (await getCollection("arcade")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const featuredGameName = "the-running-dog";

const featuredGame = await getEntry("arcade", featuredGameName)!;

const filteredGames = games.filter((game) => game.id !== featuredGameName);
---

<Layout title="Arcade | Edward Vonschondorf" description="My game development projects that I've released.">
  <article class="relative z-2 container mx-auto max-w-4xl space-y-1.5 px-1.5 lg:space-y-3 lg:px-3 xl:px-0">
    <PageHeader header="Arcade">
      At the arcade you can play/download the latest games I have developed for fun. Feel free to check out the source
      code and make your own games too!
    </PageHeader>
    <!-- FEATURED GAME -->
    <Card twc="group space-y-3 md:flex md:gap-6 md:space-y-0">
      <Banner
        href={`/arcade/${featuredGame.id}/`}
        ariaLabel={`View Featured Game: ${featuredGame.data.title}`}
        src={featuredGame.data.thumbnail}
        altText={`Thumbnail for ${featuredGame.data.title}`}
        titleText={`${featuredGame.data.title} game`}
        displayText={"Details »"}
      />
      <div class="flex flex-col justify-between gap-3 space-y-3">
        <div class="space-y-3">
          <h2 class="font-bold text-stone-100">
            <a
              href={`/arcade/${featuredGame.id}`}
              class="block transition-colors duration-300 ease-in-out hover:text-orange-600">
              {featuredGame.data.title}
            </a>
          </h2>
          <p class="text-stone-300">{featuredGame.data.description}</p>
        </div>
      </div>
    </Card>
    <!-- ALL OTHER GAMES -->
    <section class="grid gap-1.5 sm:grid-cols-2 lg:grid-cols-3 lg:gap-3 lg:px-0">
      {
        filteredGames.map((game) => (
          <Card twc="group flex flex-col justify-between gap-3">
            <div class="space-y-3">
              <Banner
                href={`/arcade/${game.id}/`}
                ariaLabel={`View Game: ${game.data.title}`}
                src={game.data.thumbnail}
                altText={`Thumbnail for ${game.data.title}`}
                titleText={`${game.data.title} game`}
                displayText={"Details »"}
              />
              <h3 class="font-bold text-stone-100">
                <a
                  href={`/arcade/${game.id}`}
                  class="block transition-colors duration-300 ease-in-out hover:text-orange-600">
                  {game.data.title}
                </a>
              </h3>
              <p class="text-stone-300">{game.data.description}</p>
            </div>
          </Card>
        ))
      }
    </section>
  </article>
</Layout>
