---
import { Image } from "astro:assets";
const { href, ariaLabel, src, altText, titleText, displayText } = Astro.props;
---

<a
  href={`${href}`}
  aria-label={`${ariaLabel}`}
  class="group/banner relative block size-full shrink-0 overflow-hidden rounded-3xl border border-stone-700 transition-colors duration-300 ease-in-out hover:border-stone-500">
  <Image
    src={src}
    alt={`${altText}`}
    title={`${titleText}`}
    class="size-full scale-105 object-cover transition-all duration-300 ease-in-out group-hover/banner:scale-100 group-hover/banner:opacity-70"
  />
  <span
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border border-stone-400 bg-stone-900/90 px-3 py-1.5 text-sm font-medium text-stone-100 opacity-0 transition-opacity duration-300 ease-in group-hover/banner:opacity-100">
    {displayText}
  </span>
</a>
