---
import { socialLinks } from "@/global-consts";
import ExtLink from "@/components/ext-link.astro";

const year = new Date().getFullYear();
---

<footer
  class="relative z-2 container mx-auto flex max-w-7xl flex-col justify-between px-1.5 pt-12 pb-3 text-center font-medium md:flex-row md:text-left lg:px-3">
  <ul class="flex flex-wrap justify-between md:gap-6">
    {
      socialLinks.map((link) => (
        <li>
          <ExtLink href={link.url} title={link.name} ariaLabel={link.name}>
            {link.name}
          </ExtLink>
        </li>
      ))
    }
  </ul>
  <span class="block text-stone-500">
    &copy; {year} Made with <ExtLink
      href={"https://astro.build/"}
      title={"Visit Astro's website"}
      ariaLabel={"Visit Astro's website"}>
      Astro
    </ExtLink>
  </span>
</footer>
