---
import { getCollection } from "astro:content";
import Layout from "@/layouts/layout.astro";
import ActionButton from "@/components/action-button.astro";
import ContentNavigator from "@/components/content-navigator.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project, index) => ({
    params: { project: project.id },
    props: { project, index, projects },
  }));
}

const { project, index, projects } = Astro.props;
const { title, description, development, images, deploy_url, repo_url, tech_stack } = project.data;
---

<Layout title={title + " | Edward Vonschondorf"} description={description}>
  <article
    class="relative z-2 container mx-auto my-auto max-w-4xl rounded-xl border border-stone-700 bg-stone-700/30 p-6 backdrop-blur-[2px] lg:rounded-3xl">
    <h1 class="mb-3 text-xl font-bold text-stone-100">{title}</h1>
    <div class="flex flex-col gap-6 md:flex-row">
      <section class="space-y-3 md:w-1/2">
        <span class="block h-64 w-full bg-stone-500"></span>
        <span class="block h-64 w-full bg-stone-500"></span>
      </section>
      <section class="flex flex-col justify-between gap-6 md:w-1/2">
        <div class="space-y-3">
          <p class="font-medium text-stone-300">{description}</p>
          <h2 class="font-bold text-stone-100">Development</h2>
          <p class="font-medium text-stone-300">{development}</p>
          <h2 class="font-bold text-stone-100">Tech Stack</h2>
          <ul class="flex flex-wrap gap-3">
            {
              tech_stack.map((tech) => (
                <li class="rounded-xl border px-3 py-1 text-sm font-medium text-stone-500">{tech}</li>
              ))
            }
          </ul>
        </div>
        <div class="flex flex-col gap-3 md:flex-row">
          <ActionButton href={deploy_url} external>Deployment</ActionButton>
          <ActionButton href={repo_url} external>Repository</ActionButton>
        </div>
      </section>
    </div>
  </article>
  <ContentNavigator items={projects} currentIndex={index} basePath="projects" contentType="Projects" />
</Layout>
