---
import BaseHead from "../components/base-head.astro";
import { SITE_TITLE, USERNAME, MY_LINKS } from "../global-consts";
// import Name from "./name.vue";
// import Theme from "./theme.vue";
import { ClientRouter } from "astro:transitions";

const { title, description, pathname } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>
  <body
    class="bg-background text-foreground flex min-h-screen flex-col antialiased"
  >
    <!-- SITE HEADER -->
    <header
      class="container mx-auto flex max-w-2xl items-center justify-between px-2 pt-20 pb-12 lg:px-0"
    >
      <!-- <Name
        pathname={pathname}
        name={SITE_TITLE}
        username={USERNAME}
        client:only="vue"
      />
      <Theme client:only="vue" /> -->
    </header>

    <!-- SITE CONTENT -->
    <main
      transition:animate="slide"
      class="container mx-auto max-w-2xl flex-grow px-2 leading-relaxed lg:px-0"
    >
      <slot />
    </main>

    <!-- SITE FOOTER -->
    <footer
      class="container mx-auto max-w-2xl space-y-2 px-2 pt-32 pb-8 md:text-center lg:px-0"
    >
      <ul
        class="flex flex-wrap justify-evenly gap-x-4 gap-y-2 text-sm md:justify-between"
      >
        {
          MY_LINKS.map((link) => (
            <li>
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer external"
                class="text-muted hover:text-accent block w-max transition-all duration-300 ease-in-out"
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </footer>
  </body>
</html>
