---
import { Image } from "astro:assets";
import BaseHead from "@/components/base-head.astro";
import profilePic from "@/assets/portrait_gray_transparent_bg.png";
import HorizontalMenu from "@/components/horizontal-menu.astro";
import DropdownMenu from "@/components/dropdown-menu.astro";
import { socialLinks } from "@/global-consts";

const siteLinks = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Arcade", href: "/arcade" },
  { name: "Blog", href: "/blog" },
  { name: "Now", href: "/now" },
];

const currentPage = Astro.url.pathname;

const year = new Date().getFullYear();

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="relative flex min-h-screen flex-col bg-stone-950 py-1.5 antialiased lg:py-0">
    <!-- Background Grid pattern and Gradient -->
    <div class="bg-grid-lines absolute inset-0 z-0 h-screen opacity-60"></div>
    <div
      class="absolute inset-0 z-1 h-screen bg-gradient-to-b from-stone-900/75 via-stone-950/0 to-stone-950 md:from-10% md:to-90%">
    </div>
    <!-- Site Header -->
    <header
      class="relative z-10 container mx-auto mb-6 flex max-w-full items-center gap-3 p-1.5 sm:mt-6 sm:mb-12 sm:border sm:border-stone-800 sm:bg-stone-800/50 sm:p-3 md:max-w-2xl md:rounded-xl">
      <div
        class="max-w-16 place-content-center overflow-hidden rounded-full border border-stone-700 bg-stone-900/50 backdrop-blur-[2px] transition-colors duration-300 ease-in-out hover:border-orange-800 sm:hidden">
        <a href="/">
          <Image src={profilePic} alt="Profile Picture of Me, Edward Vonschondorf" class="size-full object-cover" />
        </a>
      </div>
      <HorizontalMenu siteLinks={siteLinks} currentPage={currentPage} />
      <DropdownMenu siteLinks={siteLinks} />
    </header>
    <!-- Site Content -->
    <main class="flex flex-grow flex-col items-center">
      <slot />
    </main>
    <!-- Site Footer -->
    <footer class="relative z-2 container mx-auto space-y-3 px-1.5 pt-6 pb-6 text-center text-sm md:pt-12 lg:px-3">
      <span class="block text-stone-500"
        >&copy; {year} Made for fun, with <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer external"
          class="text-stone-300 hover:text-orange-600">Astro</a
        >!
      </span>
      <ul class="flex flex-wrap justify-center gap-3 md:gap-6">
        {
          socialLinks.map((link) => (
            <li>
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer external"
                class="text-stone-300 hover:text-orange-600">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </footer>
  </body>
</html>
