---
import { getEntry } from "astro:content";
import SectionHeader from "@/components/section-header.astro";
import Banner from "@/components/banner.astro";

const featuredGame = await getEntry("arcade", "the-running-dog")!;
---

<div class="space-y-3">
  <SectionHeader href="/arcade/">Arcade</SectionHeader>
  <div class="hidden lg:block">
    <Banner
      href={`/arcade/${featuredGame.id}/`}
      ariaLabel={`View Featured Game: ${featuredGame.data.title}`}
      src={featuredGame.data.thumbnail}
      altText={`Thumbnail for ${featuredGame.data.title}`}
      titleText={`${featuredGame.data.title} game`}
    />
  </div>
</div>
