---
import { Image } from "astro:assets";
import Card from "@/components/card.astro";
import profilePic from "@/assets/portrait_gray_transparent_bg.png";
import { socialLinks } from "@/global-consts";

const content = {
  headline: "👋 Hey! I'm Edward Vonschondorf",
  introduction:
    "I'm a full-stack web developer who lives for solving complex problems, optimizing performance, and continuously learning to build better, more scalable applications. Check out my work, and let's connect!",
  btn: {
    contact: "Contact Me",
    emailLink: socialLinks[0].url,
    resume: "My Resume",
    resumeLink: "PLACEHOLDER",
    availability: "Availability",
  },
};
---

<div class="grid gap-1.5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:gap-3">
  <Card twc="flex h-full flex-col justify-between gap-3 md:gap-9 md:col-span-2 lg:col-span-3">
    <div>
      <h1 class="mb-3 text-lg font-bold text-stone-100 md:text-2xl">{content.headline}</h1>
      <p class="text-sm font-medium text-stone-300 md:text-base">{content.introduction}</p>
    </div>
    <div class="grid gap-1.5 text-center text-sm sm:gap-3 md:grid-cols-2 lg:grid-cols-3">
      <a
        href={content.btn.emailLink}
        class="block w-full rounded-md border border-orange-600 bg-linear-to-b from-orange-600 to-orange-600/50 py-1.5 text-stone-200 transition duration-300 ease-in-out hover:border-orange-700 hover:from-orange-700 hover:to-orange-800 hover:text-white active:scale-90 lg:py-3">
        {content.btn.contact}
      </a>
      <a
        href={content.btn.resumeLink}
        class="block w-full rounded-md border border-stone-600 bg-linear-to-b from-stone-600 to-stone-600/50 py-1.5 text-stone-200 transition duration-300 ease-in-out hover:border-stone-700 hover:from-stone-700 hover:to-stone-800 hover:text-white active:scale-90 lg:py-3">
        {content.btn.resume}
      </a>
      <button
        class="w-full cursor-pointer rounded-md border border-stone-800 py-1.5 text-stone-300 transition-colors duration-300 ease-in-out hover:border-stone-700 hover:text-white sm:col-span-2 lg:col-span-1 lg:py-3">
        {content.btn.availability} &#9661;
      </button>
    </div>
  </Card>
  <section
    class="mx-auto hidden place-content-center overflow-hidden rounded-xl border border-stone-700 bg-stone-900/50 backdrop-blur-[2px] transition-colors duration-300 ease-in-out hover:border-orange-800 sm:block md:col-start-3 md:rounded-3xl lg:col-start-4">
    <Image src={profilePic} alt="Profile Picture of Me, Edward Vonschondorf" class="size-full object-cover" />
  </section>
</div>
