---
import Card from "@/components/card.astro";
import profilePic from "@/assets/portrait_gray_transparent_bg.png";
import { socialLinks } from "@/global-consts";
import Banner from "@/components/banner.astro";

const content = {
  headline: "👋 Hey! I'm Edward Vonschondorf",
  introduction:
    "I'm a full-stack web developer who lives for solving complex problems, optimizing performance, and continuously learning to build better, more scalable applications. Check out my work, and let's connect!",
  btn: {
    contact: "Contact Me",
    emailLink: socialLinks[0].url,
    resume: "My Resume (pdf)",
    resumeLink: "edward_vonschondorf_resume_06MAY2025.pdf",
    availability: "Availability",
  },
};
---

<div class="grid gap-1.5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:gap-3">
  <Card twc="flex h-full flex-col justify-between gap-3 md:gap-9 md:col-span-2 lg:col-span-3">
    <div>
      <h1 class="mb-3 text-lg font-bold text-stone-100 md:text-2xl">{content.headline}</h1>
      <p class="text-sm text-stone-300 md:text-base md:font-medium">{content.introduction}</p>
    </div>
    <div class="grid gap-1.5 text-center text-sm md:grid-cols-2 md:gap-3 lg:grid-cols-3">
      <a
        href={content.btn.emailLink}
        class="block w-full rounded-md border border-orange-600 bg-linear-to-b from-orange-600 to-orange-600/50 py-1.5 text-stone-200 transition duration-300 ease-in-out hover:border-orange-700 hover:from-orange-700 hover:to-orange-800 hover:text-white active:scale-90 lg:py-3 lg:font-medium">
        {content.btn.contact}
      </a>
      <a
        href={content.btn.resumeLink}
        target="_blank"
        rel="noopener noreferrer"
        type="application/pdf"
        aria-label="Download my Resume (PDF)"
        class="block w-full rounded-md border border-stone-600 bg-linear-to-b from-stone-600 to-stone-600/50 py-1.5 text-stone-200 transition duration-300 ease-in-out hover:border-stone-700 hover:from-stone-700 hover:to-stone-800 hover:text-white active:scale-90 lg:py-3 lg:font-medium">
        {content.btn.resume}
      </a>
      <button
        class="w-full cursor-pointer rounded-md border border-stone-800 py-1.5 text-stone-300 transition-colors duration-300 ease-in-out hover:border-stone-700 hover:text-white md:col-span-2 lg:col-span-1 lg:py-3 lg:font-medium">
        {content.btn.availability} &#9661;
      </button>
    </div>
  </Card>
  <section
    class="mx-auto hidden place-content-center overflow-hidden bg-stone-900/50 backdrop-blur-[2px] sm:block md:col-start-3 lg:col-start-4">
    <Banner
      href={"/"}
      ariaLabel="Profile Picture of Me, Edward Vonschondorf"
      src={profilePic}
      altText="Profile Picture of Me, Edward Vonschondorf"
      titleText="It's-a-me, Edward Vonschondorf!"
      displayText="Share 🔗"
    />
  </section>
</div>
