---
import { getCollection } from "astro:content";
import SectionHeader from "@/components/section-header.astro";
import Banner from "@/components/banner.astro";

const project = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
---

<div class="space-y-3">
  <SectionHeader href="/projects/">Projects</SectionHeader>
  <div class="hidden lg:block">
    <Banner
      href={`/projects/${project.id}/`}
      ariaLabel={`View project: ${project.data.title}`}
      src={project.data.banner}
      altText={`Thumbnail for ${project.data.title}`}
      titleText={`${project.data.title} project`}
      displayText={"Details »"}
    />
  </div>
</div>
