---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import SectionHeader from "@/components/section-header.astro";

const project = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
---

<div class="space-y-3">
  <SectionHeader href="/projects/">Projects</SectionHeader>
  <a
    href={`/projects/${project.id}/`}
    aria-label={`View project: ${project.data.title}`}
    class="group relative hidden transition-colors duration-300 ease-in-out lg:block lg:overflow-hidden lg:rounded-xl lg:border lg:border-stone-700 lg:hover:border-orange-900">
    <Image
      src={project.data.thumbnail}
      alt={`Thumbnail for ${project.data.title}`}
      title={`${project.data.title} project`}
      class="scale-105 object-cover transition-all duration-300 ease-in-out group-hover:scale-100 group-hover:opacity-70"
    />
    <span
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border border-stone-400 bg-stone-900/90 px-3 py-1.5 text-sm font-medium text-stone-100 opacity-0 transition-opacity duration-300 ease-in group-hover:opacity-100">
      Details &raquo;
    </span>
  </a>
</div>
