---
import { techList } from "@/pages/home/_content/home-content";
---

<!-- TODO: Get icons for each tech -->
<div class="space-y-3">
  <h2 class="font-medium text-stone-100">Tech & Tools</h2>
  <div class="flex flex-wrap justify-center gap-1.5">
    {
      techList.map((tech) => (
        <span class="block size-9 place-content-center rounded-xl border border-stone-700 bg-stone-800/50 transition-transform duration-300 ease-in-out hover:scale-120">
          {/* {tech.icon} */}
          {/* <img src={tech.icon} alt={tech.name} class="size-6" /> */}
          <span class="mx-auto block size-5 rounded-full bg-white/50" title={tech.name} aria-label={tech.name} />
        </span>
      ))
    }
  </div>
</div>
